h1{
  color: #34434B;
}
.btn-success:hover,
.btn-success:disabled,
.btn-success:disabled:hover{
  background-color: #A0D080;
  border-color: #A0D080;
}
.btn-xl{
  padding: 1.2rem 3rem;
}
.btn-primary
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus{
  background-color: #34434B;
  border-color: #43343B;
}
.btn-primary:hover,
.btn-primary:disabled,
.btn-primary:disabled:hover{
  background-color: #A0D080;
  border-color: #A0D080;
}
.form-control{
  font-weight: lighter;
}
select{
  text-transform: uppercase;
  border: none !important;
  height: 3.5rem !important;
  -webkit-appearance: none;
}
textarea{
  background-color: #F7F7F7 !important;
}
