<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<style type="text/css">
  .mainHeading {
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  img {
    border-radius: 10px;
    padding: 0px;
  }

  .smallHeaders {
    color: #373a3c/*#3e7cba*/;
    font-weight: bold;
    padding: 15px 0px 0px 0px;
    margin: 0px;

  }

  p {
    font-size: 20px;
    color: dimgray;
    padding-top: 15px;
  }
</style>

<h1 class="mainHeading">WELCOME TO MEDADATA</h1>
<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-third">
    <div class="w3-card-2 w3-container" style="min-height:470px">
      <h3 class="smallHeaders">Medicine</h3><br>
      <img src="assets/images/pharmacy-pill-bottle-and-cap.jpg" height="380px">
    </div>
    <p>Meda Data stores a wide variety of medication. </p>
  </div>

  <div class="w3-third">
    <div class="w3-card-2 w3-container" style="min-height:470px">
      <h3 class="smallHeaders">Customer</h3><br>
      <img src="assets/images/customer.jpg" height="380px">
    </div>
    <p>Customer service is a top tier function of our system that provides professional customer profiles.</p>
  </div>

  <div class="w3-third">
    <div class="w3-card-2 w3-container" style="min-height:470px">
      <h3 class="smallHeaders">Analytics</h3><br>
      <img src="assets/images/Analytics.jpg" height="380px">
    </div>
    <p>Meta Data meets Angular foundation. Angular provides additional advantages over standard code languages. </p>
  </div>
</div>
