.modal-body{
  padding: 2.5rem 5rem;
}
#name-form-group{
  margin-top: 1rem;
}
#first-name,
#last-name,
#home-address,
#phone-number,
#email-address{
  font-size: 1.3rem;
  border: none;
}
#date-birth{
  font-size: 1.1rem;
  border: none;
  color: #9C9999;
  font-weight: lighter;
}
.modal-footer{
  border: none;
  text-align: center;
  padding-bottom: 4rem;
}
/* Validation */
#first-name.ng-invalid.ng-dirty,
#last-name.ng-invalid.ng-dirty,
#home-address.ng-invalid.ng-dirty,
#date-birth.ng-invalid.ng-dirty{
  border-left: 5px solid #C62828;
  padding-left: 5px;
  transition: border-width 0.2s ease;
}
