<div class="row">
  <div class="col-xs-6">
    <h1>Medicine</h1>
  </div>
  <div class="col-xs-6 text-xs-right">
    <button class="btn btn-success btn-lg" [attr.data-target]=" '#' + medicineDetail.modalId" data-toggle="modal" (click)="medicineDetail.freshForm()"><i class="fa fa-plus" aria-hidden="true"></i>Add Medicine</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Medicine Name</th>
          <th>Medicine Qunatity</th>
          <th>Medicine Mg</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of medicines" [attr.data-target]=" '#' + medicineDetail.modalId" data-toggle="modal" (click)="medicineDetail.configureForm(medicine)">
          <td>{{ medicine.medicineName }}</td>
          <td>{{ medicine.medicineQuantity }} Units</td>
          <td>{{ medicine.medicineMg }} Milligrams</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<medicine-detail #medicineDetail></medicine-detail>
