.modal-body{
  padding: 2.5rem 5rem;
}
#name-form-group{
  margin-top: 1rem;
}
#medicine-name,
#medicine-quantity,
#medicine-mg{
  font-size: 1.3rem;
  border: none;
}
.modal-footer{
  border: none;
  text-align: center;
  padding-bottom: 4rem;
}
/* Validation */
#medicine-name.ng-invalid.ng-dirty,
#medicine-quantity.ng-invalid.ng-dirty,
#medicine-mg.ng-invalid.ng-dirty{
  border-left: 5px solid #C62828;
  padding-left: 5px;
  transition: border-width 0.2s ease;
}
